<!DOCTYPE html>
<html>
<head>
  <title>GarageSale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="/">Garage Sale</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="/items">All Items</a>
      </li>
      <li class="">
        <a href="/items/items_for_sale">Items for Sale</a>
      </li>
      <li>
        <a href="/items/items_sold">Items already Sold</a>
      </li>
      <li>
        <a href="/items/new">Add a New Item</a>
      </li>
    </ul>
  </nav>
  </div>


<div class="add_top_margin container">
  <div class="row">
    <%= yield %>
  </div>
</div>



</body>
</html>
